<div>
  <h1>Ship software with Docker</h1>
	<ul>	
		<li>develop and test software (maybe using Docker)</li>
		<li>setup a Dockerfile containg all the steps to setup your application</li>
		<li>test if your setup actually works</li>
		<li>ship your Dockerfile to the sysadmin</li>
		<li>build the image & run the application</li>					
  </ul>
  <p>The container you ran on your development environment will behave exactly the same in production. No missing libs, no conflicts with other applications.</p>
</div>
