<div>
  <h1>Ship software today</h1>
	<ul>	
		<li>develop and test software on your workstation</li>
		<li>remember all the important stuff (which libs have you used, which manual steps are needed to get the software up & running)</li>
		<li>write some manual or script</li>
		<li>package the software</li>
		<li>hope that everything fits together (version conflicts, etc.)</li>			
  </ul>    
  <p>In practice developers can't really know if their software will actually run in production. The environments are too heterogeneous </p>
</div>
